{% load format_date %}
{% load replace_username %}
<div class="snippet">
    <p>{{ ticket.user.username|replace_username:request.user.username }} demandé une critique
        - {{ ticket.time_created|format_date }} </p>
    <strong> {{ ticket.title }} </strong><br>
    {% if ticket.image %}
        <br><img src="{{ ticket.image.url }}"  height="250"><br>
    {% endif %}
    <p>{{ ticket.description }}</p>
    {% if snippet_mode == 'flux_unreviewed' %}
    <button onclick="window.location.href='{% url 'critique_on_existing_ticket_upload' ticket_id=ticket.id %}'">Créer une critique</button>
    {% elif snippet_mode == 'post' %}
    <button onclick="window.location.href='{% url 'delete_ticket' pk=ticket.pk %}'">Supprimer le ticket</button>
    <button onclick="window.location.href='{% url 'update_ticket' pk=ticket.pk %}'">Modifier le ticket</button>
    {% endif %}
</div>