{% load static %}
<html>
    <head>
        <title>LitReview</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'LitReview.png' %}">
    </head>
    <body>
        <header>
            <h1> LitReview </h1>
            {% if user.is_authenticated %}
          <nav>
            <ul>
              <li><a href="{% url 'flux' %}">Flux</a></li>
              <li><a href="{% url 'posts' %}">Posts</a></li>
              <li><a href="{% url 'users_followed' %}">Abonnements</a></li>
              <li><a href="{% url 'logout' %}">Se déconnecter ({{ request.user.username }})</a></li>
            </ul>
          </nav>
              <img src="{% static 'LitReview.png' %}" id="logo">
            {% endif %}
        </header>
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
